* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background-color: #dbdbd6;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 4rem;
  font-weight: bold;
  color: #342e44;
}

.content {
  margin-top: 5vh;
  height: 70vh;
  display: flex;
  justify-content: center;
  gap: 1vh;
}

.color-container {
  display: flex;
  width: 21vh;
  gap: 1.5vh;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  margin-top: 1vh;
}

.board {
  background-color: white;
  height: 70vh;
  width: 70vh;
  border: 5px solid black;
  border-radius: 2vh;
  display: grid;
}

.color {
  height: 6vh;
  width: 6vh;
  border: 4px solid black;
  border-radius: 50%;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  border: 5px solid black;
  width: 25vh;
  border-radius: 2vh;
  background-color: rgb(207, 206, 206);
}

.current-color {
  height: 4vh;
  width: 4vh;
  border: 4px solid black;
  border-radius: 50%;
}

.text-current-color {
  font-size: 1.8rem;
}

.current-color-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
}

.drawing-state-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.text-drawing-state {
  font-size: 1.8rem;
  text-align: center;
}

.pencil-photo {
  height: 10vh;
  width: 10vh;
  margin: 0 auto;
}

.divider {
  border: 1px solid black;
  margin: 1vh 0;
}

button {
  height: 4vh;
  width: 7vh;
  background-color: gray;
  color: black;
  font-size: 1.2rem;
  border-radius: 1vh;
  border: 3px solid black;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  gap: 1vh;
  align-items: center;
}

.grid-size-text {
  font-size: 1.8rem;
}

.square {
  border: 0.5px solid black;
}
